@use "global" as *;

.contact-layout {
  margin-top: remf(120);
  @include mq(md) {
    margin-top: remf(150);
  }
}

.contact-layout--sub {
  margin-top: remf(120);
  @include mq(md) {
    margin-top: remf(149);
    margin-bottom: remf(0);
  }
}
