@use "global" as *;

.overview__subtitle {
  top: remf(-38);
  @include mq(md) {
    top: remf(-31);
  }
}

.overview__header {
  margin-left: auto;
  margin-right: auto;
  @include mq(md) {
    margin: 0 remf(66);
  }
}

.overview__body {
  margin-top: remf(54);
  width: 100%;
  @include mq(md) {
    margin-top: remf(39);
  }
}

.overview::before {
  content: "";
  display: block;
  position: absolute;
  top: remf(-642);
  right: 0;
  transform-origin: 100% 0%;
  background-color: $yellow;
  width: remf(1);
  height: calc(1448 / 375) * 100%;
  transform: rotate(15.05deg);
  z-index: -1;
  @include mq(md) {
    height: calc(1712 / 1280) * 100vw;
    // top: remf(-150);
    top: -150px;
    right: remf(68);
    transform: rotate(45deg);
  }
}

.overview__content {
  width: 100%;
  @include mq(md) {
    padding: remf(80) 0;
    background: linear-gradient(270deg, transparent 0% calc(50% - remf(256)), #333 calc(50% - remf(256)) 100vw);
  }
}
