@use "global" as *;

.works-point {
  display: block;
  position: relative;
}

.works-point + .works-point {
  margin-top: remf(56);
  @include mq(md) {
    margin-top: remf(72);
  }
}

.works-point__title {
  display: inline-block;
  border-radius: 32px;
  border: 1px solid #fff;
  background: #111;
  padding: remf(8) remf(24);
  margin-left: remf(24);
  position: absolute;
  top: 0;
  left: remf(-17);
  transform: translateY(-50%) translateX(1em);
  @include mq(md) {
    margin-left: remf(41);
  }
}

.works-point__title h3 {
  font-size: remf(20);
  letter-spacing: remf(0.4);
}

.works-point__text {
  // margin-top: remf(56);
  border: 1px solid #fff;
  padding: remf(56) remf(9) remf(31);
  letter-spacing: remf(0.4);
  line-height: remf(35);
  @include mq(md) {
    padding: remf(43) remf(23) remf(30);
  }
}
