@use "global" as *;

.blog-card {
  height: inherit;
  background-color: $white;
}

.blog-card__body {
  padding-top: remf(3);
  padding-left: remf(23);
  padding-right: remf(23);
  letter-spacing: remf(1);
  font-weight: $regular;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include mq(md) {
    padding-top: remf(4);
  }
}

.blog-card__img {
  width: 100%;
  // max-width: remf(350);
}

.blog-card__img img {
  aspect-ratio: 335 / 223;
  width: 100%;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 350 / 233;
  }
}

.blog-card__title {
  font-size: remf(18);
  font-weight: $medium;
  text-align: left;
  width: 100%;
  line-height: 2;
  letter-spacing: calc(1 / 18) * 1em;
  @include mq(md) {
    line-height: 2;
  }
}

.blog-card__text {
  font-size: remf(14);
  margin-top: remf(1);
  line-height: remf(26);
  text-align: left;
  letter-spacing: calc(1 / 14) * 1em;
  flex-grow: 1;
  @include mq(md) {
    margin-top: remf(4);
    line-height: 2;
  }
}

.blog-card__info {
  margin-top: auto;
  padding: remf(7) remf(23) remf(16);
  @include mq(md) {
    padding: remf(5) remf(23) remf(16);
  }
}

.blog-card__title .blog-card--related {
  @include mq(md) {
    font-size: remf(14);
    letter-spacing: remf(1);
  }
}
