@use "global" as *;

.blog-cards {
  display: grid;
  gap: remf(24) remf(25);
  @include mq(md) {
    grid-template-columns: repeat(3, 1fr);
    gap: remf(48) remf(25);
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
  }
}

.blog-cards__item {
  display: flex;
  flex-direction: column;
  background-color: $white;
  color: $black;
  transition: 0.5s;
  justify-content: space-between;
  @include mq(md) {
    &:hover {
      color: $white;
      background-color: $gray;
    }
  }
}
