@use "global" as *;

.footer-layout {
  // margin: remf(52) 0 remf(60);
  margin: remf(49) 0 remf(60);
  @include mq(md) {
    margin-top: remf(24);
    margin-bottom: remf(30);
  }
}

.footer-layout.footer-layout--sub {
  @include mq(md) {
    margin-top: remf(26);
    margin-bottom: remf(22);
  }
}
