@use "global" as *;

.related-article__headline {
  text-align: center;
  display: inline-block;
  font-size: remf(16);
  color: $white;
  width: 100%;
  background-color: $gray;
  letter-spacing: remf(2);
  line-height: 1;
  border: 1px solid $white;
  padding: remf(12) remf(9);
  @include mq(md) {
    padding: remf(11) remf(9);
  }
}

.related-article__cards {
  margin-top: remf(36);
  @include mq(md) {
    margin-top: remf(80);
  }
}
