@use "global" as *;

.related-card {
  display: flex;
  flex-direction: column;
  height: inherit;
  background-color: $white;
  color: $black;
  justify-content: space-between;
  @include mq(md) {
    transition: 0.5s;
    &:hover {
      color: $white;
      background-color: $gray;
    }
  }
}

.related-card__body {
  padding-top: remf(3);
  padding-left: remf(23);
  padding-right: remf(23);
  letter-spacing: remf(1);
  font-weight: $regular;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include mq(md) {
    padding-top: remf(4);
    padding-top: remf(3);
    padding-left: remf(8);
    padding-right: remf(8);
  }
}

.related-card__img {
  width: 100%;
}

.related-card__img img {
  aspect-ratio: 350 / 233;
  width: 100%;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 251 / 148;
  }
}

.related-card__title {
  font-size: remf(18);
  font-weight: $medium;
  text-align: left;
  width: 100%;
  line-height: 2;
  letter-spacing: remf(1);
  @include mq(md) {
    font-size: remf(14);
    line-height: 2;
  }
}

.related-card__text {
  font-size: remf(14);
  margin-top: remf(1);
  line-height: remf(26);
  text-align: left;
  letter-spacing: calc(1 / 14) * 1em;
  flex-grow: 1;
  @include mq(md) {
    margin-top: remf(4);
  }
}

.related-card__info {
  margin-top: auto;
  padding: remf(7) remf(23) remf(16);
  @include mq(md) {
    padding: remf(3) remf(8) remf(14);
  }
}

// .related-blog .blog-card__info {
//   @include mq(md) {
//     padding-top: remf(3);
//     padding-left: remf(8);
//     padding-right: remf(8);
//     padding-bottom: remf(14);
//   }
// }
