@use "global" as *;

.tab {
  display: flex;
  flex-wrap: wrap;
  column-gap: remf(8);
  row-gap: remf(14);
  align-items: center;
  letter-spacing: remf(2);
  justify-content: flex-start;
  @include mq(md) {
    column-gap: remf(29);
  }
}
.tab__label {
  text-align: center;
  color: White;
  padding: remf(7) remf(8);
  font-size: remf(16);
  line-height: 1;
  letter-spacing: remf(2);
  border-bottom: solid 1px #000;
  @include mq(md) {
    transition: 0.3s;
    padding: remf(7) remf(10);
    border-bottom: none;
  }
}

.tab__label:hover {
  background-color: $white;
  color: $gray;
}

.tab__label:not(:hover) {
  text-decoration: none;
}

.tab__content {
  width: 100%;
  display: none;
}

/* アクティブなタブ */
.tab__label.active {
  background: $white;
  color: $black;
}
